*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Work Sans',sans-serif;
}

:root{
    --h1-font:5 rem;
    --h2-font:2.9 rem;
    --p-font:1.1rem;

    --bg-color:#121b25;
    --text-color : #ffffff;
    --main-color:#1aa090;
    --other-color:#d6d6d6;
}

body{
    background: var(--bg-color);
    color: vae(--text-color)
}

header{
    width:100%;
    position:fixed;
    top:0;
    right:0;
    z-index:100;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:30px 15%;
    transition: all .50s ease;
}

.logo img{
    height:auto;
    width:100%;
}

.navbar{
    display: flex;
}

.navbar a {
    padding:10px 25px;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    transition: all .40s ease;
}